/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 20px;
  background-image: url('../img/dark_brick_wall.png');
}

body {
	font-family: 'Roboto Slab', serif;
}

.img-auto img{
	margin : 0 auto;
}

.rounded_bdr{
	border-bottom-right-radius: 7px;	
	border-bottom-left-radius: 7px;	
}
@media(max-width: 767px){
	.gallery-img img{
		width: 60px;
		display: inline;
		max-height: 60px;
	}
}

.shoptop {
	background-color: #000;
	height: 90px;
}

.logo {
	color: #FFF;
	margin-top: 20px;
	font-size: 24px;
}

.logo a{
	font-size: 24px;
}

.logo a:active {color: #FFF; text-decoration: none;}
.logo a:hover {color: #FFF; text-decoration: none;}
.logo a:visited {color: #FFF; text-decoration: none;}
.logo a:link {color: #FFF; text-decoration: none;}

.top_mid {
	margin-top: 20px;
	padding-top: 30px;
}

.top_mid a:active {color: #FFF; text-decoration: none; margin-left: 12px;}
.top_mid a:hover {color: #FFF; text-decoration: none; margin-left: 12px;}
.top_mid a:visited {color: #FFF; text-decoration: none; margin-left: 12px;}
.top_mid a:link {color: #FFF; text-decoration: underline; margin-left: 12px;}

.top_rhs {
	color: #FFF;
	text-align: right;
	margin-top: 0px;
	padding-top: 10px;
}
#btm_nav {
	margin : 20px 0;
	text-align: center;
}
#btm_nav a:active { margin-left: 12px;margin-right: 12px;}
#btm_nav a:hover { margin-left: 12px;margin-right: 12px;}
#btm_nav a:visited { margin-left: 12px;margin-right: 12px;}
#btm_nav a:link {margin-left: 12px;margin-right: 12px;}